
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


body {
    display: flex;
    justify-content: center;
}


#calculadora {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    width: 400px;
    background-color: grey;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 15px;
}


#underdp {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    align-self: flex-end;
    margin-right: 50px;
}

button {
    text-align: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 6px black;
    margin: 6px;
    outline: none;
    font-family: 'Open Sans', sans-serif;;
    font-size: 1.3em;
}



button:active {
    box-shadow: 0 2px black;
    transform: translateY(4px);
}

.row {
    display: flex;
    flex-direction: row;
    background-color: grey;
}

#display {
    height: 70px;
    width: 300px;
    border-radius: 8px;
    outline: none;
    text-align: right;
    padding-right: 5px;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    margin-top: 30px;
    
}

#logo {
    margin-right: 20px;
    text-align: center;
    font-size: 2em;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.speccar {
    text-align: center;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 6px black;
    margin-top: 6px;
    outline: none;
    font-family: 'Open Sans', sans-serif;;
    font-size: 2em;
    background-color: white;
}
